body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 31px;
    background-color: white;
    color: black;
}

header .logo img {
    max-height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f39c12;
}

.form-container {
    width: 90%;
    max-width: 600px;
}

h1 {
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.1rem;
}

input, textarea {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 1.1rem;
    font-family: 'Helvetica', sans-serif;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus, textarea:focus {
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
    outline: none;
}

textarea {
    resize: none;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 6px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #1f6d31;
}

